<div class="settings-content main-settings-content">
    <div class="entry watch-list-entry">
        <span class="icon glyphicon glyphicon-list"></span>
            <span class="description">
              Watch List
            </span>
            <span class="check">
              <label><input ng-model="settings.watchList" type="checkbox" name="checkbox" value="value"> Show</label>
            </span>
    </div>
    <div class="entry trade-feed-entry">
        <span class="icon glyphicon glyphicon-user"></span>
            <span class="description">
              Trade Feed
            </span>
            <span class="check">
              <label><input ng-model="settings.tradeFeed" type="checkbox" name="checkbox" value="value"> Show</label>
            </span>
    </div>
    <div ng-repeat="chart in settings.charts" class="entry price-chart-entry">
        <span class="icon glyphicon glyphicon-stats"></span>
            <span class="description">
              Price Chart ({{chart.name}})
            </span>
            <span class="check">
              <label><input ng-model="chart.isActive" type="checkbox" name="checkbox" value="value"> Show</label>
            </span>
    </div>
</div>