<div class="settings-content price-chart-settings-content">
    <div class="input-group" style="width:100%">
        <input current-company="currentCompany" company-autocomplete="" type="text" class="form-control" placeholder="Select Product"/>
    </div>
    <div class="period-container">
        Time Period:
            <span class="period-btns">
              <button ng-class="{'active': settings.period=='1m'}" ng-click="settings.period='1m'" class="btn">1M</button>
              <button ng-class="{'active': settings.period=='3m'}" ng-click="settings.period='3m'" class="btn">3M</button>
              <button ng-class="{'active': settings.period=='12m'}" ng-click="settings.period='12m'" class="btn">12M</button>
            </span>
    </div>
</div>