<div class="widget trade-feed">
    <div class="header">
        <span class="header-icon">
            <span class="glyphicon glyphicon-user"></span>
        </span>
        <span class="description">Trade Feed</span>
        <span class="controls">
            <span class="control glyphicon glyphicon-question-sign"></span>
            <span ng-click="closeWidget()" class="control glyphicon glyphicon-remove"></span>
        </span>
    </div>
    <div class="users-activity">
        <div ng-repeat="ua in usersActivity" class="entry">
            <div class="deal-info">
                <div class="action">{{{'1':'Bought','2':'Sell'}[ua.action]}}</div>
                <div class="amount">{{ua.amount}} of {{ua.company}}</div>
                <div class="price">@ {{ua.price}} {{ua.currency}}</div>
            </div>
            <div class="user-info">
                <div class="photo">
                    <img ng-src="{{ua.user.pictureUrl}}" />
                </div>
                <div class="user-name">{{ua.user.name}}</div>
            </div>
            <div class="additional-info">
                <span class="time-ago">{{beforeNow(ua.date)}}</span>
            </div>
        </div>
    </div>
</div>