<div class="widget watch-list">
    <div class="header">
              <span class="header-icon">
                <span class="glyphicon glyphicon-list"></span>
              </span>
        <span class="description">Watch List</span>
              <span class="controls">
                <span ng-click="settingsClick()" class="control glyphicon glyphicon-cog"></span>
                <span widget-tooltip="watchList" class="control glyphicon glyphicon-question-sign"></span>
                <span ng-click="closeWidget()" class="control glyphicon glyphicon-remove"></span>
              </span>
    </div>
    <div class="content" ng-hide="message">
        <table class="table dashboard-table">
            <thead>
            <tr>
                <th class="symbol-header">Symbol</th>
                <th class="company-name-header">Name</th>
                <th>Last</th>
                <th>Change</th>
                <th>Volume</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="quote in quotes">
                <td class="symbol"><a href="#/details/{{quote.symbol}}">{{quote.symbol}}</a></td>
                <td class="company-name">{{quote.name}}</td>
                <td>{{quote.lastPrice}}</td>
                <td ng-class="{red: quote.change<0, green: quote.change>0}">{{quote.change}}</td>
                <td>{{quote.volume}}</td>
                <td class="actions">
                    <span ng-click="addPriceChart({symbol:quote.symbol,name:quote.name})" class="control chart glyphicon glyphicon-stats"></span>
                    <a ng-href="#/buy/{{quote.symbol}}"><span class="control buy glyphicon glyphicon-shopping-cart"></span></a>
                    <a ng-href="#/details/{{quote.symbol}}"><span class="control details glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="message" class="message">{{message}}</div>
</div>